*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Noto Sans KR",sans-serif;
}

body{
    color:#222;
    background:#fff;
}

header{
    background:#0b0b0b;
    color:white;
    text-align:center;
    padding:35px 20px;
}

header h1{
    color:#d4af37;
    font-size:38px;
    letter-spacing:4px;
}

header p{
    margin-top:10px;
    font-size:20px;
}


.hero{

    height:700px;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    color:white;

    background:
    linear-gradient(
    rgba(0,0,0,.55),
    rgba(0,0,0,.65)
    ),
    url("KakaoTalk_20260801_142934351.png");

    background-size:cover;
    background-position:center;

}


.hero h2{

    font-size:45px;
    line-height:1.4;
    margin-bottom:25px;

}


.hero p{

    font-size:23px;
    margin-bottom:35px;

}



.btn{

    display:inline-block;

    padding:16px 35px;

    margin:8px;

    border-radius:40px;

    background:white;

    color:#111;

    text-decoration:none;

    font-weight:bold;

}



.gold{

    background:#d4af37;

    color:white;

}



section{

    padding:70px 20px;

    text-align:center;

}



section h2{

    font-size:34px;

    margin-bottom:25px;

}



section p{

    font-size:20px;

    line-height:1.8;

}



.box{

    background:#f6f6f6;

}



.box ul{

    list-style:none;

    font-size:21px;

}



.box li{

    margin:18px;

}



footer{

    background:#080808;

    color:white;

    text-align:center;

    padding:30px;

    font-size:18px;

}
